.alibox{
    width: 700px;
    height: auto    ;
    padding:20px;
    border-radius: 15px;
    background-color:aquamarine;
    margin: 0 auto; 
}
.aliimg{
    margin-bottom: 36px;
    padding-bottom: 36px;
}

.alih3{
    color: black;
}
